<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.admin.modules.mapper.LogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cat.admin.modules.entity.SysLog">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="ip" property="ip" />
		<result column="user_id" property="userId" />
		<result column="status" property="status" />
		<result column="execute_time" property="executeTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="create_id" property="createId" />
		<result column="update_id" property="updateId" />
	</resultMap>

    <select id="selectLogs" resultMap="BaseResultMap">
        SELECT
             sl.*,su.nick_name as username
        FROM sys_log sl
        LEFT JOIN sys_user su ON sl.user_id = su.id
        WHERE
             1 = 1
        <if test="filter.id!=null and filter.id!=''">
            AND sl.id = #{filter.id}
        </if>
        <if test="filter.username!=null and filter.username!=''">
            AND	su.nick_name like '%${filter.username}%'
        </if>
        <if test="filter.url!=null and filter.url!=''">
            AND	sl.url like '%${filter.url}%'
        </if>
        <if test="filter.startTime!=null">
            AND <![CDATA[sl.gmt_create >= #{filter.startTime}]]>
        </if>
        <if test="filter.endTime!=null">
            AND <![CDATA[sl.gmt_create <= #{filter.endTime}]]>
        </if>
        ORDER BY sl.id DESC
    </select>

</mapper>
