<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.admin.modules.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cat.admin.modules.entity.PermissionEntity">
        <id column="id" property="id" />
        <result column="resource" property="resource" />
        <result column="code" property="code" />
        <result column="handle" property="handle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource, code, handle
    </sql>

</mapper>
